/*
----------------------------------------------
General CSS
----------------------------------------------
*/
/* Bootstrap break points */
/* Margin Classes */
.no-margin,
.no-margin-top {
  margin-top: 0 !important; }

.no-margin,
.no-margin-bottom {
  margin-bottom: 0 !important; }

.lg-margin-both,
.lg-margin-top {
  margin-top: 0 !important; }

.lg-margin-both,
.lg-margin-bottom {
  margin-bottom: 0 !important; }

.sm-margin-both,
.sm-margin-top {
  margin-top: 0 !important; }

.sm-margin-both,
.sm-margin-bottom {
  margin-bottom: 0 !important; }

/* Padding Classes */
.no-padding,
.no-padding-top {
  padding-top: 0 !important; }

.no-padding,
.no-padding-bottom {
  padding-bottom: 0 !important; }

.lg-padding-both,
.lg-padding-top {
  padding-top: 0 !important; }

.lg-padding-both,
.lg-padding-bottom {
  padding-bottom: 0 !important; }

.sm-padding-both,
.sm-padding-top {
  padding-top: 0 !important; }

.sm-padding-both,
.sm-padding-bottom {
  padding-bottom: 0 !important; }

/* Color Gradient CSS */
/* Button Classes */
.btn-primary {
  background: #E74C3C;
  background: -webkit-linear-gradient(#E95D4F, #E74C3C);
  background: -o-linear-gradient(#E95D4F, #E74C3C);
  background: -moz-linear-gradient(#E95D4F, #E74C3C);
  background: linear-gradient(#E95D4F, #E74C3C);
  border-color: #E74C3C !important;
  color: white !important; }
  .btn-primary.active, .btn-primary.focus, .btn-primary.hover, .btn-primary:active, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:hover {
    background: none;
    background-color: white !important;
    border-color: #E74C3C !important;
    color: #E74C3C !important; }

body,
html {
  background-color: #E3E3E3; }

* {
  font-family: 'Calibri', sans-serif;
  font-size: 13px; }

.main-container {
  background-color: #F7F7F7;
  -moz-box-shadow: inset 5px 0 5px -5px #707070, inset -5px 0 5px -5px #707070;
  -webkit-box-shadow: inset 5px 0 5px -5px #707070, inset -5px 0 5px -5px #707070;
  box-shadow: inset 5px 0 5px -5px #707070, inset -5px 0 5px -5px #707070; }

#language-bar .logo {
  margin-top: 20px; }
  @media (max-width: 767px) {
    #language-bar .logo {
      width: 250px; } }
#language-bar .nav {
  display: inline-block;
  float: right; }
  #language-bar .nav li {
    display: inline-block; }
    #language-bar .nav li a {
      text-decoration: none;
      color: #555555; }

#xs-language-bar {
  display: inline-block;
  float: right;
  margin-top: 8px; }
  #xs-language-bar li {
    display: inline-block; }
    #xs-language-bar li a {
      text-decoration: none;
      color: #555555; }

#main-bar .collapse,
#main-bar .container-fluid {
  padding-left: 0;
  padding-right: 0; }
#main-bar .navbar-nav {
  width: 100%;
  text-align: center; }
  #main-bar .navbar-nav > li {
    display: inline-block;
    width: calc( 100% / 6.0001 );
    border-top-right-radius: 6px;
    border-top-left-radius: 6px; }
    #main-bar .navbar-nav > li.active a {
      background: #555555;
      background: -webkit-linear-gradient(#888888, #555555);
      background: -o-linear-gradient(#888888, #555555);
      background: -moz-linear-gradient(#888888, #555555);
      background: linear-gradient(#888888, #555555);
      color: white; }
  #main-bar .navbar-nav a {
    font-family: 'Times New Roman', Georgia, Serif;
    text-transform: uppercase;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px; }
    #main-bar .navbar-nav a:hover {
      background: #555555;
      background: -webkit-linear-gradient(#888888, #555555);
      background: -o-linear-gradient(#888888, #555555);
      background: -moz-linear-gradient(#888888, #555555);
      background: linear-gradient(#888888, #555555);
      color: white; }
  #main-bar .navbar-nav .dropdown-menu {
    background: #E3E3E3;
    background: -webkit-linear-gradient(white, #E3E3E3);
    background: -o-linear-gradient(white, #E3E3E3);
    background: -moz-linear-gradient(white, #E3E3E3);
    background: linear-gradient(white, #E3E3E3); }
    #main-bar .navbar-nav .dropdown-menu a {
      border-radius: 0; }
  #main-bar .navbar-nav .about-dropdown.open #about-menu {
    background: #555555;
    background: -webkit-linear-gradient(#888888, #555555);
    background: -o-linear-gradient(#888888, #555555);
    background: -moz-linear-gradient(#888888, #555555);
    background: linear-gradient(#888888, #555555);
    color: white; }
  #main-bar .navbar-nav .about-dropdown.active .dropdown-menu li a {
    background: none;
    color: #333; }
    #main-bar .navbar-nav .about-dropdown.active .dropdown-menu li a:hover {
      background: #555555;
      background: -webkit-linear-gradient(#888888, #555555);
      background: -o-linear-gradient(#888888, #555555);
      background: -moz-linear-gradient(#888888, #555555);
      background: linear-gradient(#888888, #555555);
      color: white; }
@media (max-width: 767px) {
  #main-bar .navbar-toggle {
    z-index: 100;
    float: left !important;
    margin: 12px 0 12px 15px; }
  #main-bar .collapse,
  #main-bar .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  #main-bar .navbar-nav {
    width: auto; }
    #main-bar .navbar-nav > li {
      display: block;
      width: 100%; }
    #main-bar .navbar-nav a {
      border-radius: 0; }
    #main-bar .navbar-nav .dropdown-menu {
      text-align: center; } }
#main-bar #navbar {
  background: #E3E3E3;
  background: -webkit-linear-gradient(white, #E3E3E3);
  background: -o-linear-gradient(white, #E3E3E3);
  background: -moz-linear-gradient(white, #E3E3E3);
  background: linear-gradient(white, #E3E3E3); }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

@media (max-width: 767px) {
  .sm-margin-top-60 {
    margin-top: 60px; }

  .sm-margin-top-30 {
    margin-top: 30px; } }
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
#header-carousel h3,
#header-carousel p {
  font-family: 'Times New Roman', Georgia, Serif; }
#header-carousel h3 {
  font-size: 36px; }
#header-carousel p {
  font-size: 30px; }
#header-carousel img {
  width: 100%;
  max-height: 400px; }
#header-carousel .carousel-inner {
  background-color: #E74C3C; }
#header-carousel .carousel-text {
  right: 65%;
  color: white;
  padding: 120px 30px 0; }
  #header-carousel .carousel-text h3 {
    font-size: 48px; }
  #header-carousel .carousel-text p {
    font-size: 40px; }
  @media (max-width: 991px) {
    #header-carousel .carousel-text {
      padding-top: 45px; } }
  @media (max-width: 767px) {
    #header-carousel .carousel-text {
      right: 0;
      text-align: center;
      padding-top: 20px; } }
#header-carousel .carousel-indicators {
  background: #555555;
  background: -webkit-linear-gradient(#888888, #555555);
  background: -o-linear-gradient(#888888, #555555);
  background: -moz-linear-gradient(#888888, #555555);
  background: linear-gradient(#888888, #555555);
  bottom: -6%;
  left: 40%;
  text-align: left;
  text-shadow: none;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 60px; }
  #header-carousel .carousel-indicators .active {
    background-color: #E74C3C;
    border-color: #E74C3C;
    width: 17px;
    height: 17px; }
  #header-carousel .carousel-indicators li {
    background-color: white;
    width: 15px;
    height: 15px;
    margin-top: 11px; }
  @media (max-width: 991px) {
    #header-carousel .carousel-indicators {
      left: 37%; } }

/*Main Heading CSS - Section-Header */
.section-header h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 24px; }

.para-block-left {
  font-size: 13px; }
  .para-block-left h5 {
    color: #4c4c4c;
    text-decoration: underline;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .para-block-left p {
    color: #787878; }
  .para-block-left a {
    color: #E74C3C; }

.para-block-right {
  font-size: 13px; }
  .para-block-right h5 {
    color: #4c4c4c;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .para-block-right p {
    color: #787878;
    font-size: 13px;
    margin: 0; }
  .para-block-right a {
    color: #E74C3C; }

.chevron-right-margin {
  margin-right: 10px; }

.view-more {
  color: #4c4c4c;
  padding-left: 50px; }
  .view-more span {
    padding-right: 10px; }

.dotted-line {
  border-top: 2px #E3E3E3 dotted;
  height: 2px;
  padding-bottom: 30px; }

.home .right-section img {
  width: 595px;
  height: 190px;
  margin-bottom: 30px; }
.home .right-section .list-format {
  font-size: 13px;
  color: #787878; }
  .home .right-section .list-format span {
    padding-left: 6px;
    text-decoration: underline; }
.home .left-section .box {
  background-color: #E74C3C;
  margin-top: 20px;
  height: 60px;
  width: 60px;
  color: white;
  padding: 8px;
  border-radius: 5px; }
  .home .left-section .box h4 {
    font-size: 24px;
    line-height: 9px;
    text-align: center; }
  .home .left-section .box h5 {
    font-size: 16px;
    line-height: 9px;
    text-align: center;
    padding-left: 10px; }
.home .left-section .row-space {
  margin-bottom: 40px; }

/*Footer CSS */
.footer-format {
  padding: 40px 0;
  margin-top: 60px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #555555;
  color: white;
  text-transform: uppercase; }
  .footer-format .footer-nav {
    list-style: none;
    padding: 0;
    font-size: 16px;
    text-align: center; }
    .footer-format .footer-nav li {
      display: inline-block;
      padding-left: 40px;
      padding-right: 14px; }
    .footer-format .footer-nav a {
      color: white;
      text-decoration: none;
      line-height: 40px;
      font-size: 16px;
      text-transform: uppercase; }
  .footer-format .smaller-text a {
    font-size: 10px; }

.network .para-block-right p {
  color: #4c4c4c; }
.network .para-block-left h5 {
  color: #787878; }

/*
----------------------------------------------
Contact Page CSS
----------------------------------------------
*/
.address h5 {
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 0; }
.address a {
  text-decoration: none;
  color: #787878; }
.address address {
  color: #787878; }
.address p {
  margin-bottom: 0; }

.contact-form .form-group {
  margin-bottom: 30px; }
.contact-form #message {
  max-width: 100%; }

@media (max-width: 767px) {
  #map {
    width: 100%;
    height: auto; } }
/*
----------------------------------------------
Leadership Page CSS
----------------------------------------------
*/
.team-list .media {
  margin-bottom: 60px;
  margin-top: 0; }
  .team-list .media:last-of-type {
    margin-bottom: 0; }
  .team-list .media .media-object {
    width: 150px;
    height: 150px;
    margin-bottom: 0; }

.certs-list {
  margin-top: 30px;
  text-decoration: underline; }

.case-row {
  margin-bottom: 30px; }
  .case-row img {
    width: 100px; }
  .case-row p {
    margin-bottom: 30px; }
  .case-row a {
    text-transform: uppercase;
    font-weight: bold; }
  @media (max-width: 767px) {
    .case-row {
      margin-bottom: 0; }
      .case-row .para-block-left {
        margin-bottom: 30px; } }

.case-block h5 {
  margin-bottom: 0;
  font-weight: bold; }
  .case-block h5:last-of-type {
    margin-bottom: 30px;
    padding-left: 12px; }
.case-block p {
  padding-left: 12px;
  margin-bottom: 0; }
  @media (max-width: 991px) {
    .case-block p {
      margin-bottom: 30px; } }

/*# sourceMappingURL=template.css.map */
