/*
----------------------------------------------
General CSS
----------------------------------------------
*/
$primary-color: #E74C3C;
$content-bg-color: #F7F7F7;
$bg-color: #E3E3E3;
$btn-color: #D6D6D6;
$search-color: #C6C6C6;
$footer-color: #555555;
$heading-color: #4c4c4c;
$para-color: #787878;
/* Bootstrap break points */
$max-xs: 543px;
$min-sm: 544px;
$max-sm: 767px;
$min-md: 768px;
$max-md: 991px;
$min-lg: 992px;
$max-lg: 1199px;
$min-xl: 1200px;
/* Margin Classes */
$lg-margin: 0;
$sm-margin: 0;

.no-margin,
.no-margin-top {
    margin-top: 0 !important;
}

.no-margin,
.no-margin-bottom {
    margin-bottom: 0 !important;
}

.lg-margin-both,
.lg-margin-top {
    margin-top: $lg-margin !important;
}

.lg-margin-both,
.lg-margin-bottom {
    margin-bottom: $lg-margin !important;
}

.sm-margin-both,
.sm-margin-top {
    margin-top: $sm-margin !important;
}

.sm-margin-both,
.sm-margin-bottom {
    margin-bottom: $sm-margin !important;
}
/* Padding Classes */
$lg-padding: 0;
$sm-padding: 0;

.no-padding,
.no-padding-top {
    padding-top: 0 !important;
}

.no-padding,
.no-padding-bottom {
    padding-bottom: 0 !important;
}

.lg-padding-both,
.lg-padding-top {
    padding-top: $lg-padding !important;
}

.lg-padding-both,
.lg-padding-bottom {
    padding-bottom: $lg-padding !important;
}

.sm-padding-both,
.sm-padding-top {
    padding-top: $sm-padding !important;
}

.sm-padding-both,
.sm-padding-bottom {
    padding-bottom: $sm-padding !important;
}
/* Color Gradient CSS */
@mixin set-gradient($top-color, $bottom-color) {
    background: $bottom-color;
    background: -webkit-linear-gradient($top-color, $bottom-color);
    background: -o-linear-gradient($top-color, $bottom-color);
    background: -moz-linear-gradient($top-color, $bottom-color);
    background: linear-gradient($top-color, $bottom-color);
}
/* Button Classes */
@mixin make-button($top-color, $bottom-color, $text-color) {
     @include set-gradient($top-color, $bottom-color);
    border-color: $bottom-color !important;
    color: $text-color !important;

    &.active,
    &.focus,
    &.hover,
    &:active,
    &:active:focus,
    &:focus,
    &:hover {
        background: none;
        background-color: $text-color !important;
        border-color: $bottom-color !important;
        color: $bottom-color !important;
    }
}

.btn-primary {
    @include make-button(#E95D4F, $primary-color, white);
}

body,
html {
    background-color: $bg-color;
}

* {
    font-family: 'Calibri', sans-serif;
    font-size: 13px;
}

.main-container {
    $shadow-color: #707070;
    background-color: $content-bg-color;
    -moz-box-shadow: inset 5px 0 5px -5px $shadow-color, inset -5px 0 5px -5px $shadow-color;
    -webkit-box-shadow: inset 5px 0 5px -5px $shadow-color, inset -5px 0 5px -5px $shadow-color;
    box-shadow: inset 5px 0 5px -5px $shadow-color, inset -5px 0 5px -5px $shadow-color;
}

#language-bar {
    .logo {
        margin-top: 20px;
        @media(max-width: $max-sm) {
            width: 250px;
        }
    }

    .nav {
        display: inline-block;
        float: right;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: $footer-color;
            }
        }
    }
}

#xs-language-bar {
    display: inline-block;
    float: right;
    margin-top: 8px;

    li {
        display: inline-block;

        a {
            text-decoration: none;
            color: $footer-color;
        }
    }
}

#main-bar {
    $border-radius: 6px;
    // Make navbar take up the whole width
    .collapse,
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
        // Make each li equal width and place on one row
        > li {
            display: inline-block;
            width: calc( 100% / 6.0001 );
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;

            &.active {
                a {
                    @include set-gradient(#888888, $footer-color);
                    color: white;
                }
            }
        }
        // Adds curves to links and the hover effect
        a {
            font-family: 'Times New Roman', Georgia, Serif;
            text-transform: uppercase;
            border-top-right-radius: $border-radius;
            border-top-left-radius: $border-radius;

            &:hover {
                @include set-gradient(#888888, $footer-color);
                color: white;
            }
        }
        // Makes the dropdown menu gray
        .dropdown-menu {
            @include set-gradient(white, $bg-color);

            a {
                border-radius: 0;
            }
        }
        // Keep the li colored when the dropdown is open
        .about-dropdown.open {
            #about-menu {
                @include set-gradient(#888888, $footer-color);
                color: white;
            }
        }
        // Keep the li colored correctly when about is active
        .about-dropdown.active {
            .dropdown-menu li a {
                background: none;
                color: #333;

                &:hover {
                    @include set-gradient(#888888, $footer-color);
                    color: white;
                }
            }
        }
    }
    // Reset the navbar so it works like it usually does
    @media(max-width: $max-sm) {
        // Align the navbar toggle to the left
        .navbar-toggle {
            z-index: 100;
            float: left !important;
            margin: 12px 0 12px 15px;
        }

        .collapse,
        .container-fluid {
            padding-left: 15px;
            padding-right: 15px;
        }

        .navbar-nav {
            width: auto;

            > li {
                display: block;
                width: 100%;
            }

            a {
                border-radius: 0;
            }

            .dropdown-menu {
                text-align: center;
            }
        }
    }

    #navbar {
        @include set-gradient(white, $bg-color);
    }
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}


    @media (max-width:$max-sm) {
        .sm-margin-top-60{
        margin-top: 60px;
    }
        .sm-margin-top-30{
            margin-top: 30px;
        }
}
/*
----------------------------------------------
Home Page CSS
----------------------------------------------
*/
#header-carousel {
    h3,
    p {
        
        font-family: 'Times New Roman', Georgia, Serif;
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 30px;
    }

    img {
        width: 100%;
        max-height: 400px;
    }

    .carousel-inner {
        background-color: $primary-color;
    }

    .carousel-text {
        right: 65%;
        color: white;
        padding: 120px 30px 0;

        h3 {
            font-size: 48px;
        }

        p {
            font-size: 40px;
        }
        @media (max-width:$max-md) {
            padding-top: 45px;
        }
        @media (max-width:$max-sm) {
            right: 0;
            text-align: center;
            padding-top: 20px;
        }
    }

    .carousel-indicators {
        @include set-gradient(#888888, $footer-color);
        bottom: -6%;
        left: 40%;
        text-align: left;
        text-shadow: none;
        width: 150px;
        height: 40px;
        text-align: center;
        border-radius: 60px;

        .active {
            background-color: $primary-color;
            border-color: $primary-color;
            width: 17px;
            height: 17px;
        }

        li {
            background-color: white;
            width: 15px;
            height: 15px;
            margin-top: 11px;
        }
        @media(max-width: $max-md) {
            left: 37%;
        }
    }
}
/*Main Heading CSS - Section-Header */
.section-header {
    h1 {
        margin-top: 60px;
        margin-bottom: 20px;
        font-size: 24px;
    }
}

.para-block-left {
    font-size: 13px;

    h5 {
        color: $heading-color;
        text-decoration: underline;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    p {
        color: $para-color;
    }

    a {
        color: $primary-color;
    }
}

.para-block-right {
    font-size: 13px;

    h5 {
        color: $heading-color;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    p {
        color: $para-color;
        font-size: 13px;
        margin: 0;
    }

    a {
        color: $primary-color;
    }
}

.chevron-right-margin {
    margin-right: 10px;
}

.view-more {
    color: $heading-color;
    padding-left: 50px;

    span {
        padding-right: 10px;
    }
}

.dotted-line {
    border-top: 2px $bg-color dotted;
    height: 2px;
    padding-bottom: 30px;
}

.home {
    .right-section {
        img {
            width: 595px;
            height: 190px;
            margin-bottom: 30px;
        }

        .list-format {
            font-size: 13px;
            color: $para-color;

            span {
                padding-left: 6px;
                text-decoration: underline;
            }
        }
    }

    .left-section {
        .box {
            background-color: $primary-color;
            // position: absolute;
            margin-top: 20px;
            height: 60px;
            width: 60px;
            //  text-align: center;
            color: white;
            padding: 8px;
            border-radius: 5px;

            h4 {
                font-size: 24px;
                line-height: 9px;
                text-align: center;
            }

            h5 {
                font-size: 16px;
                line-height: 9px;
                text-align: center;
                padding-left: 10px;
            }
        }

        .row-space {
            margin-bottom: 40px;
        }
    }
}
/*Footer CSS */
.footer-format {
    padding: 40px 0;
    margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: $footer-color;
    color: white;
    text-transform: uppercase;

    .footer-nav {
        list-style: none;
        padding: 0;
        font-size: 16px;
        text-align: center;

        li {
            display: inline-block;
            padding-left: 40px;
            padding-right: 14px;
        }

        a {
            color: white;
            text-decoration: none;
            line-height: 40px;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    .smaller-text {
        a {
            font-size: 10px;
        }
    }
}

.network {
    .para-block-right {
        p {
            color: $heading-color;
        }
    }

    .para-block-left {
        h5 {
            color: $para-color;
        }
    }
}
/*
----------------------------------------------
Contact Page CSS
----------------------------------------------
*/
.address {
    h5 {
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 0;
    }

    a {
        text-decoration: none;
        color: $para-color;
    }

    address {
        color: $para-color;
    }

    p {
        margin-bottom: 0;
    }
}

.contact-form {
    .form-group {
        margin-bottom: 30px;
    }

    #message {
        max-width: 100%;
    }
}
@media(max-width: $max-sm) {
    #map {
        width: 100%;
        height: auto;
    }
}
/*
----------------------------------------------
Leadership Page CSS
----------------------------------------------
*/
.team-list {
    .media {
        margin-bottom: 60px;
        margin-top: 0;

        &:last-of-type {
            margin-bottom: 0;
        }

        .media-object {
            width: 150px;
            height: 150px;
            margin-bottom: 0;
        }
    }
}

.certs-list {
    margin-top: 30px;
    text-decoration: underline;
}

.case-row {
    margin-bottom: 30px;

    img {
        width: 100px;
    }

    p {
        margin-bottom: 30px;
    }

    a {
        text-transform: uppercase;
        font-weight: bold;
    }
    @media(max-width: $max-sm) {
        margin-bottom: 0;

        .para-block-left {
            margin-bottom: 30px;
        }
    }
}

.case-block {
    h5 {
        margin-bottom: 0;
        font-weight: bold;

        &:last-of-type {
            margin-bottom: 30px;
            padding-left: 12px;
        }
    }

    p {
        padding-left: 12px;
        margin-bottom: 0;
        @media(max-width: $max-md) {
            margin-bottom: 30px;
        }
    }
}
